fastapi
uvicorn[standard]
langchain
langchain-groq
langchain-community
langchain-huggingface
sentence-transformers

python-dotenv
pydantic
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
pandas
openpyxl
langdetect
twilio
textblob
apscheduler
alembic
beautifulsoup4
chromadb
deep-translator
pypdf
python-multipart
soundfile

